page-movie-details {
	.list button{
		color: color($colors, font);
		font-size: 1.8rem;
	}

	.list button:first-child {
		font-size: 2rem;
	}

	.content {
		color: color($colors, font);
		font-size: 1.8rem;
	}

	.item {
		padding-left: 0;
	}
	.item-inner {
		padding-left: 16px;
	}

	.button-inner {
		//1.Solve opacity background problem
		//2.Increase arrow weight (if possible)
		filter: brightness(inherit);
	}
	ion-header {
		height:35%; 
    background-size: cover; 
    background-position: center;
    filter: brightness(70%) blur(1px);
	}
}
