page-home {
	ion-navbar {
		background-color: color($colors, primary);
	}
	.header-md::after {
		width: 0%;
	}
	.list-header{
		margin: 0;
		padding-left: 16px;
		padding-bottom: 8px;
		margin: .5em;
		text-decoration: underline;
		color: color($colors, font);
	}
	.card {
    position: relative;
    height: 100px;
		width: 100%;
    overflow:hidden;
    
    img {
    	position: absolute;
    	min-height: 80px;
    	left: 0px;
    	transform: translate(0,-30%);

    	z-index: -1;
    	filter: blur(1.7px) opacity(.6);
    }
    p {
    	color: color($colors, light);
    	font-weight: bold;
    	font-size: 3rem;
    	text-align: center;
    }
	}
}
