<ion-header>
  <ion-navbar>
    <ion-title>Movies</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getMovies($event)" (ionClear)="clearMoviesList()" placeholder="Search movie...">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item *ngFor="let movie of movieSearch" (click)="pushMovieDetail(movie)">
    <h2>{{movie.title}}</h2>
  </ion-item>
  <div *ngIf="!movieSearch">
    <h1 class="list-header">In theaters</h1>
    <div *ngFor="let movie of moviesInTheather">
      <span *ngIf="movie.poster_path"> 
        <div class="card" (click)="pushMovieDetail(movie)">
            <img class="center" src="https://image.tmdb.org/t/p/w400{{movie.poster_path}}"/>
            <p>{{movie.title}}</p>
        </div>
      </span>
    </div>
    <h1 class="list-header">Popular</h1>
    <div *ngFor="let movie of moviesPopular">
      <span *ngIf="movie.poster_path"> 
        <div class="card" (click)="pushMovieDetail(movie)">
            <img src="https://image.tmdb.org/t/p/w400{{movie.poster_path}}"/>
            <p>{{movie.title}}</p>
        </div>
      </span>
    </div>
  </div>
</ion-content>
