page-home {
  ion-navbar {
    background-color: color($colors, primary);
  }
  .header-md::after {
    width: 0%;
  }
  .list-header {
    margin: 0;
    padding: 0px 2px 0px 0px;
    margin: .5em;
    color: color($colors, font-secondary);
    text-align: end;
    filter: drop-shadow(3px 1px 6px black);
  }
  .card {
    position: relative;
    height: 120px;
    width: 100%;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      min-height: 80px;
      left: 0px;
      transform: translate(0, -30%);
      padding: 10px;
      z-index: -1;
      filter: blur(1.7px) opacity(.4);
    }
    p {
      color: color($colors, font);
      font-weight: bold;
      font-size: 3rem;
      text-align: center;
      filter: drop-shadow(3px 1px 6px black);
    }
  }
}
